<div class='row'>
  <div class='col-6'>Наталя Мельник</div>
  <div class='col-6'>Resume Project</div>
</div>

<br />
<br />

<h2>Список сторінок</h2>

<ul class='nav nav-tabs'>
  {{#each links}}
    <li class='nav-item'>
      <a
        class='nav-link'
        target='_blank'
        href='{{href}}'
      >{{name}}</a>
    </li>
  {{/each}}
</ul>