{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<<<<<<< HEAD
<div class='p-5'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <button
    type='button'
    class='btn btn-primary'
  >Купити</button>
=======
<div>

>>>>>>> 089655ea19fbd1e46fdc2dd9fcf26cfb38d88fbf
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}